.env
.env.*
!.env.example
.coverage
.coveragerc
.pytest_cache/
.ruff_cache/
.pyright/
.sagesettings
preferences.json
.spritesage-recovery/
*__pycache__*
*.egg-info/
build/
dist/
dist_*/
venv/
out/
src/ben2/
